html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, 
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  margin: 0;
  padding: 0;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* font-family: 'Merriweather', serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  align-self: flex-start;
  padding-bottom: 18px;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
}



.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 29px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 38px;
}

.menu__link {
  padding: 0 6px 9px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #373A39;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: all .3s;
}

.menu__link:hover {
  border-bottom: 1px solid #FCBB08;
}

.header__content {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.header__content-inner {
  min-height: calc(100vh - 93px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #fff;
  margin: auto 0 19px;
  padding-top: 130px;
}

.header__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 62px;
}


.about {
  padding: 150px 0 142px;
  background-color: #F6F8FA;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-size: 48px;
}

.about__text p {
  max-width: 770px;
  margin-bottom: 18px;
}

