*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
}

.wrapper {
  min-height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding-top: 46px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 240px;
}

.logo {
  margin-right: 34px;
}

.menu ul {
  display: flex;
}

.menu li + li {
  margin-left: 25px;
}

.menu a {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
}

.title {
  font-size: 120px;
  line-height: 141px;
  margin-bottom: 15px;
}

.text {
  max-width: 674px;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 46px;
}

.slick-dots {
  display: flex;
  list-style: none;
}

.slick-dots li + li {
  margin-left: 20px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}